body{
    font-family: Arial, sans-serif;
    background: #ffffff;
}

.box{
    width: 400px;
    margin: 100px auto;
    border: 2px solid #0a0a0a;
    padding: 20px;
    background: rgb(255, 255, 255);
}

h2{
    text-align: center;
}

hr{
    margin: 10px 0;
}

p{
    margin: 5px 0;
}